#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  height: 30vmin;
  width: 15vmin;
  border: 1vmin solid black;
  max-height: fit-content;
  min-width: fit-content;
  border-radius: 2vmin;
  background-color: blanchedalmond;
}
